/node_modules
/public/hot
/public/storage
/public/dashboard
/public/css
/public/js
/storage/*.key
/storage/settings.json
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
package-lock.json
composer.lock
